.Box{
    background-color: rgb(26, 27, 27);
    margin: auto;
    width: 360px;
    margin-top: 200px;
    border: 2px solid #131212;
    text-align: center;
    aspect-ratio: 3/4;
    padding: 10px;
    border-radius:10px; ;
    padding-top: 80px;
    padding-bottom :10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
  }


  
body{
  height: 650px;
  background-color: #131212;
}


.Box > div{
  margin: 15px 0;
  margin-bottom: 5px;
  border-radius: 6px;
  background-color: rgb(53, 52, 52);
  padding: 12px;
}


.img{
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 50%;
display: block;
margin:0 auto 10px auto;
border: 2px solid darkgrey;
}


.Box a{
color: white;
text-decoration: none;
}


.Box a:hover{
  text-decoration: underline;
  color: #31e494;
}